.app {
  display: flex;
  padding: 30px;
  justify-content: center;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 70px;
  height: 70px;
  transition: all 300ms ease-in-out;
}

.score-board  {
  font-size: 42px;
  position: absolute;
  right: 20px;
  top: 0;
  text-align: center;
}

.score-board h2 {
  margin: 0;
  
}